<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net threshold="ALL">
		<appender name="WEB_RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="SYSTEM-LOG\WEB\" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="false" />
			<datePattern value="dd-MM-yyyy" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="==================[@START WEB APPLICATION LOG]==================&#13;&#10;" />
				<footer value="==================[@STOP  WEB APPLICATION LOG]==================&#13;&#10;&#13;&#10;" />
				<conversionPattern value="%date [%-5level] &lt;%logger{5}.%thread &gt;&quot;%message&quot; %exception %newline" />
			</layout>
		</appender>

		<appender name="DATABASE_RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="SYSTEM-LOG\DATABASE\" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="false" />
			<datePattern value="dd-MM-yyyy" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="==================[@START DATABASE LOG]==================&#13;&#10;" />
				<footer value="==================[@STOP  DATABASE LOG]==================&#13;&#10;&#13;&#10;" />
				<conversionPattern value="%date [%-5level] &lt;%logger{5}.%thread &gt;&quot;%message&quot; %exception %newline" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="WEB_RollingLogFileAppender" />
		</root>

		<logger name="WebApplicationLog" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="WEB_RollingLogFileAppender"/>
		</logger>

		<logger name="DatabaseLog" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="DATABASE_RollingLogFileAppender"/>
		</logger>

	</log4net>

</configuration>

